body{
    height: 600px;
    width: 1024px;
}

#back {
    background-image:url(../images/difficultyChoiceNew.png);
    background-size: 1024px 600px;
    height: 600px;
    width: 1024px;
    position: fixed;
    outline:none;
}

.title {
    text-align: center;
    font-size: 25px;
    clear: both;
}

#easy{
    margin-top: 60px;
    height: 100px;
    outline:none;
}

#medium {
    margin-top: 6px;
    height: 85px;
    outline:none;
}

#hard {
    height: 85px;
    outline:none;
}
button{
    height: 100px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 28px;
    font-family: Lucida Console;
    border: none;
    background: transparent;
    margin-left: 38%;
    width: 20%;
    outline:none;
}

#returnHome{
    height: 110px;
    width: 299px;
    clear: all;
    margin-top: 120px;
    margin-left: 0px;
    margin-bottom: none;
    display: block;
}