body{
    height: 600px;
    width: 1024px;
}
#background{
    height: 600px;
    width: 1024px;
    background-size: 1024px 600px;
    position: absolute;
}

#return {
    margin-top: 512px;
    margin-left: 90px;
}

#highscores{
    margin-top: 512px;
    margin-left: 740px;
}

#userName{
    margin-top: 512px;
    margin-left: 420px;
    height: 43px;
    width: 190px;
    position: absolute;
    border: 2px solid #000000;
    font-size: 28px;
    text-align:center; 
}

button{
    height: 43px;
    width: 200px;
    background: transparent;
    font-size: 28px;
    font-family: Lucida Console;
    border: none;
    position: absolute;
    outline:none;
}