div{
	text-align: center;
	border: 2px solid #000000;
	background-color: #8B4513;
	height: 850px;
}

#back1{
	width: 25%;
	float: left;
}

#back2{
	width: 74%;
	float: right;
	background-image: url(../images/highscore.png);
	background-size: 100%;
}

body{
	background-color: #8B4513;
}

button{
	height: 258px;
	width: 100%;
	background-color: #32CD32;
	display: block;
	border: 2px solid #000000;
	border-left: none;
	border-right: none;
	font-size: 30px;
	font-family: Lucida Console;
}

#returnHome{
	height: 75px;
	width: 100%;
	font-size: 15px;
}

#easy {
	background-color: #00FFFF;
}

#medium {
	background-color: #FFFF33;
}

#hard {
	background-color: #FF0000;
}

.headers{
	text-align: center;
	font-family: Lucida Console;
	font-size: 30px;
	clear:both;
	font-weight:bold;
}

#title{
	font-size: 50px;
}

#scoreType {
	background-color: #8B4513;
	height: 800px;
	width: 298px;
	float: left;
}

#scoreArea {
	background-color: #00FFFF;
	height: 800px;
	width: 900px;
	float: left;
}

#easyScores {
	background-color: #00FFFF;
	height: 800px;
	/*width: 900px;*/
	width: 100px;
	float: left;
}

#mediumScores {
	background-color: #FFFF33;
	height: 800px;
	/*width: 900px;*/
	width: 100px;
	float: left;
}

#hardScores {
	background-color: #FF0000;
	height: 800px;
	/*width: 900px;*/
	width: 100px;
	float: left;
}

.ranks {
	height: 30px;
	background: transparent;
}

#playerRank1{
	margin-top: 150px;
}

#playerRank2{
	margin-top: 15px;
}

#playerRank3{
	margin-top: 15px;
}

#playerRank4{
	margin-top: 15px;
}

#playerRank5{
	margin-top: 15px;
}

#playerRank6{
	margin-top: 15px;
}

#playerRank7{
	margin-top: 15px;
}

#playerRank8{
	margin-top: 15px;
}

#playerRank9{
	margin-top: 15px;
}

#playerRank10{
	margin-top: 15px;
}