div{
    text-align: center;
    background-color: #8B4513;
    height: 600px;
}

#buttonColumn{
    width: 324px;
    float: left;
    height: 600px;
    border: 2px solid #000000;	
}

#table{
    background-image:url(../images/highscoreNew.png);
    background-size: 700px 600px;
    border: 2px solid #000000;
    height:600px;
    width:700px;
    margin-left:324px;
    position:absolute;
}

th{
    padding:20px 0px 38px 0px;
    font-size: 30px;
    font-family: Lucida Console; 
}

#rank{
    padding-left:20px;
    padding-right:20px;
}

#name{
    padding-left:60px;
    padding-right:60px;
}

#score{
    padding-left:45px;
    padding-right:45px;
}

#date{
    padding-left:55px;
    padding-right:55px;
}

td{
    padding:12px 0px 11px 0px;
    font-size: 25px;
    font-family: Lucida Console;
}

button{
    height: 180px;
    width: 324px;
    background-color: #32CD32;
    display: block;
    border: 2px solid #000000;
    font-size: 30px;
    font-family: Lucida Console;
}

#returnHome{
    height: 60px;
    width: 100%;
    font-size: 15px;
}

#easy {
    background-color: #00FFFF;
}

#medium {
    background-color: #FFFF33;
}

#hard {
    background-color: #FF0000;
}
