div{
	text-align: center;
	background-color: #8B4513;
	height: 600px;
}

#back1{
	width: 324px;
	float: left;
	height: 600px;
	border: 2px solid #000000;	
}

#table{
        background-image:url(../images/highscoreNew.png);
	background-size: 100%;
	border: 2px solid #000000;
        margin-left:324px;
}

th{
    padding:40px 0px 60px 0px;
    font-size: 30px;
    font-family: Lucida Console; 
}

#rank{
    padding-left:40px;
    padding-right:40px;
}

#name{
    padding-left:110px;
    padding-right:110px;
}

#score{
    padding-left:85px;
    padding-right:85px;
}

#date{
    padding-left:95px;
    padding-right:95px;
}

td{
    padding:9px 0px 9px 0px;
    font-size: 25px;
    font-family: Lucida Console;
}

#name{
    
}

#score{
    
}

#date{
    
}

button{
	height: 180px;
	width: 324px;
	background-color: #32CD32;
	display: block;
	border: 2px solid #000000;
	font-size: 30px;
	font-family: Lucida Console;
}

#returnHome{
	height: 60px;
	width: 100%;
	font-size: 15px;
}

#easy {
	background-color: #00FFFF;
}

#medium {
	background-color: #FFFF33;
}

#hard {
	background-color: #FF0000;
}
