div{
    text-align: center;
    width: 100%;
}

#divBack {
    background-image:url(../images/titlePageNew.png);
    background-size: 1024px 600px;
    width: 1024px;
    height: 600px;
}

#credit{
    margin-top: 515px;
    margin-left: 810px;
    height: 20px;
    width: 200px;
    font-size: 12px;
    font-family: Lucida Console;
}

body{
    background-color: #8B4513;
    height: 600px;
    width: 1024px;
}

#companyLogo{
    text-align: auto;
    height: 1000px;
    width: 1000px;
}
    
#settings{
    position: fixed;
    background-size: 75px 75px;
    background-image:url(../images/settingsIcon.png);
    height: 80px;
    width: 80px;
    float: right;
    margin-left:10px;
    border: 2px solid #000000;
}

button{
    height: 50px;
    width: 200px;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    font-family: Lucida Console;
    position: fixed;
}

#startButton{
    margin-top: 330px;
    margin-left: 340px;
    background: transparent;
    border: none;
    outline:none;
}

#tutorialButton{
    margin-top: 395px;
    margin-left: 340px;
    background: transparent;
    border: none;
    outline:none;
}

#highScoresButton{
    margin-top: 475px;
    margin-left: 340px;
    background: transparent;
    border: none;
    outline:none;
}
    
.headers{
    text-align: center;
    font-family: Lucida Console;
    font-size: 30px;
    clear:both;
    font-weight:bold;
}

#title{
    font-size: 50px;
}

#monkey {
    display: block;
    position: fixed;
    height: 200px;
    width: 90px;
    margin-left: 900px;
}