div{
    text-align: center;
	width: 100%;
}

#divBack {
	background-image:url(../images/titlePageNew.png);
	background-size: 1024px 600px;
	width: 1024px;
	height: 600px;
	
	/*background-size: 100%;*/
}

body{
    background-color: #8B4513;
	height: 600px;
	width: 1024px;
	/*background-image:url(../images/titlePage.png);*/
	/*background-size: 1300px 900px;
	background-size: 100%;*/
}

#companyLogo{
	/*display: none;*/
	/*margin: auto;*/
	text-align: auto;
	height: 1000px;
	width: 1000px;
}
    
#settings{
	position: fixed;
    height: 50px;
    width: 50px;
    float: right; 
    border: 2px dashed #000000;
	/*display:none;*/
}

button{
    /*height: 90px;
    width: 250px;*/
	
	height: 50px;
	width: 200px;
	
	
    border-radius: 5px;
    background-color: #32CD32;
    /*margin:auto;*/
    margin-top:10px;
    margin-bottom: 10px;
    display: block;
   /* border: 2px solid #000000;*/
    font-size: 18px;
    font-family: Lucida Console;
	position: fixed;
}

#startButton{
	margin-top: 330px;
	margin-left: 340px;
	
	/*margin-left: 34%;
	margin-top: 41%;*/
	background: transparent;
	border: none;
}

#tutorialButton{
	margin-top: 395px;
	margin-left: 340px;
	
	/*margin-left: 34%;
	margin-top: 50%;*/
	background: transparent;
	border: none;
}

#highScoresButton{
	margin-top: 470px;
	margin-left: 340px;
	/*margin-left: 34%;
	margin-top: 60%;*/
	background: transparent;
	border: none;
}
    
/*button:hover{
    border: 5px solid #000000;
    font-size: 40px;
    }*/
    
.headers{
    text-align: center;
    font-family: Lucida Console;
    font-size: 30px;
    clear:both;
    font-weight:bold;
}

#title{
    font-size: 50px;
	/*display:none;*/
}

#companyTitle{
	/*display:none;*/
}

#monkey {
	display: block;
	position: fixed;
	height: 200px;
	width: 90px;
	margin-left: 900px;
	/*margin-left: 90%;
	margin-right: 0px;
	animation: slidein 3s;
	@-webkit-keyframes slidein {
		from {
			margin-left: 50%;
		}

		to {
			margin-left: 0%;
		}*/
}