div{
    text-align: center;
	width: 100%;
}

/*#divBack {
	background-image:url(menuImage.jpg);
	width: 100%;
	height: auto;
}*/

body{
    background-color: #8B4513;
	background-image:url(../images/menuImage.jpg);
	/*background-size: 1300px 900px;*/
	background-size: 100%;
}

#companyLogo{
	/*display: none;*/
	/*margin: auto;*/
	text-align: auto;
	height: 1000px;
	width: 1000px;
}
    
#settings{
	position: fixed;
    height: 50px;
    width: 50px;
    float: right; 
    border: 2px dashed #000000;
	/*display:none;*/
}

button{
    /*height: 90px;
    width: 250px;*/
	
	height: 10%;
	width: 17%;
	
	
    border-radius: 5px;
    background-color: #32CD32;
    /*margin:auto;*/
    margin-top:10px;
    margin-bottom: 10px;
    display: block;
   /* border: 2px solid #000000;*/
    font-size: 30px;
    font-family: Lucida Console;
	position: fixed;
}

#startButton{
	/*margin-top: 490px;
	margin-left: 435px;*/
	
	margin-left: 34%;
	margin-top: 41%;
	
	background: transparent;
	border: none;
}

#tutorialButton{
	/*margin-top: 590px;
	margin-left: 435px;*/
	
	margin-left: 34%;
	margin-top: 51%;
	
	
	background: transparent;
	border: none;
}

#highScoresButton{
	/*margin-top: 690px;*/
	/*margin-left: 435px;*/
	margin-left: 34%;
	margin-top: 61%;
}
    
button:hover{
    border: 5px solid #000000;
    font-size: 40px;
    }
    
.headers{
    text-align: center;
    font-family: Lucida Console;
    font-size: 30px;
    clear:both;
    font-weight:bold;
}

#title{
    font-size: 50px;
	/*display:none;*/
}

#companyTitle{
	/*display:none;*/
}

#monkey {
	position: fixed;
	height: 200px;
	width: 90px;
	/*margin-right: 0px;
	animation: slidein 3s;
	@-webkit-keyframes slidein {
		from {
			margin-left: 50%;
		}

		to {
			margin-left: 0%;
		}*/
}
#monkeyButton {
	position: fixed;
	height: 200px;
	width: 90px;
	margin-left: 0px;
	/*animation: slidein 3s;
	@-webkit-keyframes slidein {
		from {
			margin-left: 50%;
		}

		to {
			margin-left: 0%;
		}*/
}