div{
	width: 500px;
	height: 100px;
	display: inline-block;
}



#words{
	width: 125px;
	height: 450px;
}

#options{
	width: 49%;
	height: 450px;
}

h4 {
	font-size: 25px;
	margin-left: 25px;
	display: inline-block;
}

body{
    background-color: #8B4513;
}
    
#returnHome{
	height:50px;
	width:100px;
	float: left; 
	border: 2px solid #000000;
	font-size: 15px;
}

#musicOn {
	height:50px;
	width:50px;
	border: 2px solid #000000;
	font-size: 15px;
}

#musicOff {
	height:50px;
	width:50px;
	border: 2px solid #000000;
	font-size: 15px;
}

#soundOn {
	height:50px;
	width:50px;
	border: 2px solid #000000;
	font-size: 15px;
}

#soundOff {
	height:50px;
	width:50px;
	border: 2px solid #000000;
	font-size: 15px;
}

#lang1 {
	height:50px;
	width:75px;
	border: 2px solid #000000;
	font-size: 15px;
}

#lang2{
	height:50px;
	width:75px;
	border: 2px solid #000000;
	font-size: 15px;
}

#red {
	height:50px;
	width:75px;
	border: 2px dashed #000000;
	font-size: 15px;
}

button{
    height: 100px;
    width: 300px;
    border-radius: 5px;
    background-color: #32CD32;
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
    /*display: block;*/
	margin-left: 25px;
    border: 2px solid #000000;
    font-size: 30px;
    font-family: Lucida Console;
}

button:hover{
    border: 5px solid #000000;
    font-size: 40px;
    }
    
#headers{
    text-align: center;
    font-family: Lucida Console;
    font-size: 30px;
    clear:both;
    font-weight:bold;
}

#title{
    font-size: 50px;
}