body{
    background-color: #8B4513;
}

#returnHome{
    height:150px;
    width:250px;
    float: left; 
    border: 2px solid #000000;
    font-size: 50px;
    position: fixed;
    background-color: #FFFF00;
    border: 2px solid #000000;
}

#header{
    height:146px;
    width:774px;
    position: fixed;
    margin-left:250px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #FFFF00;
}

#headerText{
    font-family: Lucida Console;
    font-size: 100px;
    margin-top:30px;
    width:774px;
    height:146px;
    border: none;
}

div{
    width:1024px;
    height:150px;
    border: 2px solid #000000;
    border-radius: 5px;
    position: fixed;
}

#music{
    margin-top:150px;
}

#sounds{
    margin-top:300px;
}

#language{
    margin-top:450px;
}

p{
    text-align: center;
    position: fixed;
    float:left;
    width:250px;
    height:150px;
    font-family: Lucida Console;
    font-size: 45px;
    border-radius: 5px;
}

#musicOn {
    margin-left:250px;
}

#soundOn {
    margin-left:250px;
}

#lang1 {
    margin-left:250px;
}

button{
    border-radius: 5px;
    background-color: #FF3300;
    font-family: Lucida Console;
    height:150px;
    width:385px;
    font-size: 30px;
    border:3px solid #000000;
}
