body{
	height: 600px;
	width: 1024px;
        background-color: #8B4513;
}

#returnHome{
    height: 454px;
    width: 300px;
    float: left; 
    border: 2px solid #000000;
    background-color: #32CD32;
    font-size: 50px;
    position:fixed;
    margin-top:0px;
    float:top;
}

#gameInstructions{
    width: 1024px;
    height: 146px;
    font-size: 20px;
    font-family: Lucida Console;
    background-color: #CCFFFF;  
    text-align:center;
    margin-top:-6px;
    border: 2px solid #000000;
    float:bottom;
}

#tutorialImage{
    margin-left: 300px;
    width:724px;
    height:450px;
    border: 2px solid #000000;
    float:top;
}