div{
    text-align: center;
	background-color: #32CD32;
	margin: auto;
	height: 400px;
	width: 700px;
	display: block;
	border: 2px solid #000000;
}

body{
    background-color: #8B4513;
}

#returnHome{
    height: 50px;
    width: 50px;
    float: left; 
    border: 2px solid #000000;
	background-color: #32CD32;
	display: block;
}

button {
	border: 2px solid #000000;
	margin: auto;
}

#monkey {
	height: 50px;
	width: 50px;
	background-color: #8B4513;
	margin-top: 150px;
	margin-left: 260px;
	position: absolute;
	display: block;
	font-size: 10px;
}

#vine1 {
	height: 300px;
	width: 7px;
	background-color: #006600;
	margin-left: 308px;
	position: absolute;
}

#banana {
	height: 30px;
	width: 30px;
	background-color: #FFFF00;
	margin-top: 125px;
	margin-left: 385px;
	position: absolute;
	display: block;
	font-size: 10px;
}

#vine2 {
	height: 300px;
	width: 7px;
	background-color: #006600;
	margin-left: 500px;
	position: absolute;
}

#gameInfo {
	background-color: #00FFFF;
	text-align: left;
	width: 143px;
	height: 100px;
	margin-left: 553px;
}

#numberArea {
	height: 40px;
	width: 250px;
	margin-top: 235px;
	margin-left: 225px;
	font-size: 30px;
	background-color: #CCFFFF;
	position: absolute;
}

#calculator {
	background-color: #888888;
	text-align: left;
	width: 120px;
	height: 200px;
	margin-left: 575px;
	margin-top: 90px;
	position: absolute;
}

#calculatorScreen {
	background-color: #E8E8E8;
	text-align: left;
	width: 100px;
	height: 20px;
	margin-left: 10px;
	margin-top: 10px;
	position: absolute;
}
.number {
	width: 40px;
	height: 40px;
	position: absolute;
	background-color: #C0C0C0;
}

#number1 {
	margin-top: 40px;
}

#number2 {
	margin-top: 40px;
	margin-left: 40px;
}

#number3 {
	margin-top: 40px;
	margin-left: 80px;
}

#number4 {
	margin-top: 80px;
}

#number5{
	margin-top: 80px;
	margin-left: 40px;
}

#number6 {
	margin-top: 80px;
	margin-left: 80px;
}

#number7 {
	margin-top: 120px;
}

#number8{
	margin-top: 120px;
	margin-left: 40px;
}

#number9{
	margin-top: 120px;
	margin-left: 80px;
}

#placeHolder1 {
	margin-top: 160px;
}

#number0{
	margin-top: 160px;
	margin-left: 40px;
}

#placeHolder2{
	margin-top: 160px;
	margin-left: 80px;
}