div{
    text-align: center;
	background-color: #32CD32;
	margin: auto;
	height: 400px;
	width: 700px;
	display: block;
}

body{
    background-color: #8B4513;
}

button {
	display: block;
}

#returnHome{
    height: 50px;
    width: 50px;
    float: left; 
    border: 2px solid #000000;
	background-color: #32CD32;
	display: block;
}

button {
	border: 2px solid #000000;
	font-size: 10px;
	margin: auto;
}

#monkey {
	height: 50px;
	width: 50px;
	background-color: #8B4513;
	margin-top: 150px;
	margin-left: 325px;
	position: absolute;
}

#gameInfo {
	background-color: #00FFFF;
	text-align: left;
	width: 145px;
	height: 100px;
	margin-left: 555px;
	border: 2px solid #000000;
}

#numbers {
	background-color: #888888;
	text-align: left;
	width: 120px;
	height: 200px;
	margin-left: 575px;
	margin-top: 90px;
	border: 2px solid #000000;
}
}